<div class="comment-box" >
    <div class="comment-avatar">
        <img  src="./assets/images/default-user.png">
    </div>
    <div class="comment-content">
        <div class="comment-head">
            <h6 class="comment-name">User name</h6>
            <span class="time">08/10/2022 10:00 AM</span>
        </div>
        <div class="comment-body">
            <span> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here' </span>
        </div>

    </div>
</div>
