<div class="card card-custom gutter-b card-stretch mt-2" *ngIf="story">
  <!--begin::Body-->
  <div class="symbol image-container">
    <img alt="image" [src]="storyImage" class="" />
  </div>
  <div class="card-body text-center pt-4">
    <!--begin::Story-->

    <!--end::Story-->
    <!--begin::title-->
    <div class="my-1">
      <a
        (click)="SetStory(story)"
        [routerLink]="'/stories/detail'"
        class="text-dark font-weight-bold text-hover-primary font-size-h4"
        >{{ story.title }}</a
      >
    </div>
    <!--end::title-->
    <!--begin::section-->
    <span
      class="label label-inline label-lg label-light-success font-weight-bold"
      >{{ story.section }}
    </span>
    <!--end::section-->
    <!--begin::Buttons-->
    <div class="mt-1 mb-1">
      <button
        (click)="SetStory(story)"
        [routerLink]="'/stories/detail'"
        class="btn btn-block btn-sm btn-light-warning font-weight-bolder text-uppercase py-4 text-center color-accent"
        >View Story</button>
    </div>
    <!--end::Buttons-->
  </div>
  <!--end::Body-->
</div>
