<div class="card card-custom gutter-b card-stretch mt-7">
	<!--begin::Body-->
	<div class="card-body text-center pt-4">
		<!--begin::Story-->
		<div class="mt-7">
			<div class="symbol symbol-circle symbol-lg-75 symbol-primary">
        <span class="font-size-h3 symbol-label font-weight-boldest">
          <img alt="image" class="">
        </span>

			</div>
		</div>
		<!--end::Story-->
		<!--begin::title-->
		<div class="my-2">
			<a href="#" class="text-dark font-weight-bold text-hover-primary font-size-h4"
				>story title</a
			>
		</div>
		<!--end::title-->
		<!--begin::date-->
		<span  class="label label-inline label-lg label-light-success font-weight-bold"
      >story date
     </span>
		<!--end::date-->
		<!--begin::Buttons-->
		<div class="mt-7 mb-7">
			<a
				class="btn btn-block btn-sm btn-light-warning font-weight-bolder text-uppercase py-4 text-center"
				>View Story</a
			>
		</div>
		<!--end::Buttons-->
	</div>
	<!--end::Body-->
</div>
