
<div class="container-fluid mt-3 ">
    <div *ngIf="categories && categories.length>0">
        <mat-tab-group dynamicHeight
          [(selectedIndex)]="selected"
          (selectedTabChange)="onCategoryChange($event)"
          
        >
          <mat-tab
         
            *ngFor="
              let category of categories;
              let index = index
            "
            [label]="category.name"
            class="p-4"
          >
        <div class="title-container d-flex justify-content-between align-items-center mt-3"  >
            <h3><strong>Top Stories:</strong></h3>
            <div class="search-container">
              <mat-form-field appearance="outline">
                <mat-label>Search Articles</mat-label>
                <input (change)="search($event)" name="search" type="text" matInput placeholder="..." [(ngModel)]="searchString">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-sm-6 col-md-3 col-xs-12" *ngFor=" let item of topStories.results">
                <app-story-item [story]="item"></app-story-item>
            </div>
        </div>
        <div class="row"></div>
        <div class="row mt-3 mb-3 d-flex justify-content-center" *ngIf="searchString">
          <div class="col-md-3 col-sm-6 col-xs-8"> 
            <button mat-flat-button color="primary" class="w-100" (click)="loadMoreData()">Load More</button>
          </div>
        </div>
          </mat-tab>
        </mat-tab-group>
      </div>
</div>
